<%= link_to group_path(@group) do%>
  <button class="btn-secondary mb-4">Back to <%=@group.name%></button>
<%end%>
<div class="flex justify-between mb-4">
  <h1 class="text-4xl"> Users for <%= @group.name %> </h1>
  <% if @current_group_user_role %>
    <%= link_to new_group_group_user_path(@group) do%>
      <button class="btn-primary">Invite a Member</button>
    <%end%>
  <% end %>
</div>
<% @group_users.each do |member| %>
  <div class="border shadow-md my-2 rounded-md w-full p-4 flex justify-between items-center">
    <p class="text-xl"><%= member.uniqname %></p>
    <div>
      <% if @current_group_user_role %>
        <% if member.admin? && member != current_user %>
          <%= link_to remove_admin_group_group_user_path(@group, member), data: { turbo_method: :patch, turbo_confirm: "Are you sure?" } do %>
            <button class="btn-warning">Revoke Admin Role</button>
          <% end %>
        <% else %>
          <%= link_to make_admin_group_group_user_path(@group, member), data: { turbo_method: :patch, turbo_confirm: "Are you sure?" } do %>
            <button class="btn-primary">Grant Admin Role</button>
          <% end %>
        <% end %>
        <%= link_to group_group_user_path(@group, member), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do%>
          <button class="btn-danger">Kick</button>
        <%end%>
      <% end %>
    </div>
  </div>
<% end %>
