<% if current_user %>
  <div class="flex justify-between">
    <h1 class="text-2xl mb-4">Welcome, <%=current_user.email%></h1>
  </div>
<% end %>
<div class="flex justify-between">
  <h1 class="text-3xl"> My Groups </h1>
  <%= link_to new_group_path do%>
    <button class="btn-primary">Create New Group</button>
  <%end%>
</div>
<div class="flex flex-col items-center">
  <% if @groups.count == 0 %>
    <div class="italic text-gray-600 px-2 pb-2 h-80 flex items-center" >You aren't a part of any groups yet. Request for a group invite from another user, or create a new one!</div>
  <%end%>
  <% @groups.each do |group| %>
    <div class="border shadow-md my-2 rounded-md w-full">
      <%= link_to group do %>
        <div class="p-2">
          <h2 class="text-xl font-medium hover:underline"><%= group.name %></h2>
          <p><%= group.description %></p>
          <div>
          </div>
        </div>
        <div class="flex">
          <% if @links[group].empty? %>
            <p class="italic text-gray-600 px-2 pb-2" >This group has no links</p>
          <%end%>
          <%@links[group].each do |link|%>
            <%= link_to link.url, target: :_blank do %>
              <div class="border shadow-md my-2 mx-2 h-64 w-72 rounded-md flex-col p-4 flex justify-between items-center">
                <div class="text-center">
                  <% if link.image_url %>
                    <%= image_tag link.image_url, class: "h-24 mb-2 mx-auto"%>
                  <%else%>
                    <%= image_tag 'link_placeholder.svg', class: "h-24 mb-2 mx-auto"%>
                  <% end %>
                  <h1 class="text-xl mb-3"> <%= link.name %></h1>
                  <p class="italic text-gray-600"> Added <%= time_ago_in_words(link.created_at) %> ago by <%=link.contributor%> </p>
                </div>
              </div>
            <% end %>
          <%end%>
        </div>
      <%end%>
    </div>
  <% end %>
</div>
