<div class="flex justify-between">
  <%= link_to groups_path(@groups) do%>
    <button class="btn-secondary mb-4">Back to My Groups</button>
  <%end%>
  <%= link_to group_group_user_path(@group, current_user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do%>
    <button class="btn-danger">Leave Group</button>
  <%end %>
</div>
<div class="flex justify-between">
  <div class="flex">
    <h1 class="text-4xl"> <%= @group.name %> </h1>
    <%= link_to 'Edit', edit_group_path(@group), class: 'btn-secondary-outline ml-2' %>
  </div>
  <div>
    <%= link_to new_group_link_path(@group) do %>
      <button class="btn-primary">Add a Link</button>
    <% end %>
    <%= link_to group_group_users_path(@group) do%>
      <button class="btn-primary-outline">View Members</button>
    <%end%>
  </div>
</div>
<p class="text-xl text-gray-600"><%=@group.description%></p>
<div class="grid grid-cols-4 gap-3">
  <% @links.each do |link| %>
    <div class="border shadow-md my-2 min-h-[300px] rounded-md flex-col p-4 flex justify-between items-center">
      <div class="text-center">
        <% if link.image_url %>
          <%= image_tag link.image_url, class: "h-24 mb-2 mx-auto"%>
        <%else%>
          <%= image_tag 'link_placeholder.svg', class: "h-24 mb-2 mx-auto"%>
        <% end %>
        <h1 class="text-xl mb-3"> <%= link.name %></h1>
        <% if link.description %>
          <p> <%= truncate(link.description, length: 72)%></p>
        <% else %>
          <p class="italic text-gray-600">This link has no description</p>
        <%end%>
        <p class="italic text-sm text-gray-600 mt-2">Added by: <%=link.contributor %></p>
      </div>
      <div class="mt-3 flex w-full justify-around">
        <%= link_to group_link_path(@group, link), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do%>
          <button class="btn-danger">Remove</button>
        <%end %>
        <%= link_to link.url, target: :_blank do %>
          <button class="btn-primary">Visit</button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
