<%= link_to groups_path(@groups) do%>
  <button class="btn-secondary mb-4">Back to My Groups</button>
<%end%>
<div class="flex justify-between">
  <h1 class="text-4xl"> <%= @group.name %> </h1>
  <div>
    <%= link_to new_group_link_path(@group) do %>
      <button class="btn-primary">Add a Link</button>
    <% end %>
    <%= link_to group_group_users_path(@group) do%>
      <button class="btn-primary-outline">View Members</button>
    <%end%>
  </div>
</div>
<div class="grid grid-cols-4 gap-3">
  <% @links.each do |link| %>
    <div class="border shadow-md my-2 min-h-[200px] rounded-md flex-col p-4 flex justify-between items-center">
      <a class="text-xl hover:underline" href=<%= link.url %> target="_blank" rel="noreferrer"><%= link.url %></a>
      <%= link_to group_link_path(@group, link), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do%>
        <button class="btn-danger">Remove</button>
      <%end %>
    </div>
  <% end %>
</div>
