<!DOCTYPE html>
<html>
  <head>
    <title>Linkspace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="flex justify-between items-center px-24 py-8">
      <%= link_to root_path do %>
        <h1 class="text-4xl font-bold container">LinkSpace</h1>
      <%end%>
      <% if current_user%>
        <div class="flex items-center">
          <p class="mr-2"><%= current_user.email %></p>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: 'btn-danger-outline'  %>
        </div>
      <%end%>
    </div>
    <main class="container mx-auto mt-8 px-5">
      <%= yield %>
    </main>
  </body>
</html>
