<!DOCTYPE html>
<html>
  <head>
    <title>Linkspace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <h1 class="text-4xl font-bold container mx-auto px-5 mt-10">LinkSpace</h1>
    <main class="container mx-auto mt-12 px-5">
      <%= yield %>
    </main>
  </body>
</html>
